
.mainpg{
	position:absolute;
	right:20px;
	top:10px
}

.cartpg{
	position:absolute;
	right:90px;
	top:10px
}

table.fixed
{
	table-layout:fixed; 
	width: 1100px;
}

table.fixed td 
{
	width: 80px;
	overflow: hidden; 
	text-overflow: ellipsis;
	word-wrap:break-word;
	display: inline-block;
    white-space: nowrap;
}

.solid 
{
	border-style:solid;
	border-top-style:solid;
	border-width: 1px;
}

