
.mainpg{
	position:absolute;
	right:20px;
	top:10px
}

.cartpg{
	position:absolute;
	right:90px;
	top:10px
}

input:focus
{
background-color:CCCCFF;
}

html > body div#navsecond {
  margin-left:12px;
}